@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

*{
    font-family: "Outfit", sans-serif;
}

@theme{
    --color-primary: #5AC7FA;
}

::-webkit-scrollbar{
    display: none;
}